### IDE files
.idea/

### Composer files
auth.json

### GIT files
../.git
.git/
# Skipped as it makes build very slow and since it is needed by composer when working on dev branches
#vendor/*/*/.git

# var
var/*

# PHPUnit
app/phpunit.xml
phpunit.xml

# Build data
build/

# Composer PHAR
composer.phar

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~

